* {
  box-sizing: border-box;
}

:root {
  --background-color: #af8eab;
  --container-color: white;
  --1-color: #3f51b5;
  --2-color: #b092b8;
  --3-color: #e91e63;
  --4-color: #5f1c63;
  --5-color: hwb(174 7% 38%);
  --6-color: #ab8aa7;
  --7-color: #401e7c;
  --8-color: #f44336;
  --arrow-color: red;
  --spin-color: #a2a2a2;
  --text-color: black;
  --text-size: 20px;
  --font-text: sans-serif;
  --wheel-time-lapse: 10s;
  --wheel-boder-color: #ccc;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 500px;
  height: 500px;
  background-color: var(--container-color);
  border-radius: 50%;
  border: 15px solid var(--wheel-boder-color);
  position: relative;
  overflow: hidden;
  transition: var(--wheel-time-lapse);
}

.container div {
  height: 50%;
  width: 200px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-size);
  color: var(--text-color);
  font-weight: bold;
  font-family: var(--font-text);
  left: 135px;
  flex-direction: column;
  align-items: center;
  display: flex;
  top: 2px;
  writing-mode: vertical-lr;
}

.container .one {
  background-color: var(--1-color);
  left: 29%;
  transform: rotate(0deg);
}

.container .two {
  background-color: var(--2-color);
  transform: rotate(45deg);
}

.container .three {
  background-color: var(--3-color);
  transform: rotate(90deg);
}

.container .four {
  background-color: var(--4-color);
  transform: rotate(135deg);
}

.container .five {
  background-color: var(--5-color);
  transform: rotate(180deg);
}

.container .six {
  background-color: var(--6-color);
  transform: rotate(225deg);
}

.container .seven {
  background-color: var(--7-color);
  transform: rotate(270deg);
}

.container .eight {
  background-color: var(--8-color);
  transform: rotate(315deg);
}

.arrow {
  position: absolute;
  top: 42%;
  left: 65%;

  transform: rotate(90deg);
  color: var(--arrow-color);
}

.arrow::before {
  content: "\1F817";
  font-size: 100px;
}

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #a2a2a2;
  text-transform: uppercase;
  border: 8px solid var(--wheel-boder-color);
  font-weight: bold;
  font-size: 15px;
  color: var(--text-color);
  width: 80px;
  height: 80px;
  font-family: var(--font-text);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  letter-spacing: 1px;
}
